.App {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: auto;
  width: 600px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.echo-command-containner {
  flex: 1;
}
.chat-container {
  border: 1px solid black;
  padding: 10px;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  background-image: url('../images//mobilebackground.jpg');
}
.chat-box {
  min-height: 320px;
  width: 270px;
  border: 1px solid #ffffff;
  display: flex;
  flex-direction: column;
  max-height: 500px;
  overflow-x: hidden;
  overflow-y: auto;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.4)
}
.input-enter {
  margin-top: 10px;
  width: calc(100% -10px);
  height: 30px;
  border-radius: 5px;
}

.command-bubble {
  line-height: 20px;
  border-radius: 5px;
  padding: 4px;
  margin: 10px 10px;
}
.right {
  text-align: right;
  background-color: #f0f0f0;
  align-self: flex-end;
}

.left {
  text-align: left;
  background-color: #cfe2f3;
  align-self: flex-start;
}

.bubble-image {
  width: 150px;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background-color: #bfc7d9;
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--bd-color);
}
::-webkit-scrollbar-track {
  border-radius: 3px;
  background-color: white;
}
::-webkit-scrollbar-track:hover {
  background-color: rgba(0, 0, 0, 0.01);
}
